// (C) RootiCo

.about {
    @include bg-white;
    padding: 100px 0 120px 0;
}
.about_article{
    font-size: 16px;
    font-weight: 400;
    color: #5a5a5a;
    text-align: center;
    line-height: 35px;
    padding-top: 70px;
    &_brake {
        @media screen and (max-width: 1039px) {
            display: none;
    }
}
}