// (C) RootiCo
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Montserrat:400,700&display=swap");
$primary-font: "Lato", Arial, sans-serif;
$secondary-font: "Montserrat", sans-serif;

* {
    font-family: $primary-font;
}

body {
    padding: 0;
    margin: 0;
}

$article-title-color: #3677fd;
.article__title {
    font-family: $primary-font;
    font-weight: 300;
    color: $article-title-color;
    font-size: 50px;
    text-align: center;
}

@mixin bg-white {
    background-color: #fff;
}
@mixin bg-gray {
    background-color: #f1f8ff;
}
@mixin bg-blue {
    background-color: #3567fc;
}
