// (C) RootiCo
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Montserrat:400,700&display=swap");
$primary-font: "Lato", Arial, sans-serif;
$secondary-font: "Montserrat", sans-serif;

* {
    font-family: $primary-font;
}

body {
    padding: 0;
    margin: 0;
}


.background-blue-gradient{
        background: linear-gradient(to left top, #367cfd, #367dfd, #367ffe, #3680fe, #3681fe, #3684fe, #3686ff, #3689ff, #378dff, #3991ff, #3c95ff, #4099ff), url(../images/gradient-lines.png);
        background-blend-mode: overlay;
        width: 100%;
        width: 2000px;
        height: 872px;
        z-index: 5;
}