// (C) RootiCo
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Montserrat:400,700&display=swap");
$primary-font: "Lato", Arial, sans-serif;
$secondary-font: "Montserrat", sans-serif;

* {
    font-family: $primary-font;
}

body {
    padding: 0;
    margin: 0;
}

$article-title-color: #3677fd;
.article__title {
    font-family: $primary-font;
    font-weight: 300;
    color: $article-title-color;
    font-size: 50px;
    text-align: center;
}

@mixin bg-white {
    background-color: #fff;
}
@mixin bg-gray {
    background-color: #f1f8ff;
}
@mixin bg-blue {
    background-color: #3567fc;
}
.modal-block-bg {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.button {
    background-color: rgb(255, 255, 255);
    color: rgb(54, 149, 255);

    font-family: $primary-font;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 1.875;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 204px;
    height: 55px;
    border-radius: 27.5px;

    &--blue {
        background: linear-gradient(0deg, rgba(54, 149, 255, 1) 0%, rgba(53, 100, 252, 1) 100%);
        color: rgb(255, 255, 255);
    }

    &--small {
        width: 112px;
        height: 30px;
        color: rgb(25, 66, 119);
        line-height: 1.364;
        font-size: 12px;
        border-radius: 15px;

        // Не впевнений чи потрібно
        // -moz-transform: matrix( 0.54901960784314,0,0,0.54545454545455,0,0);
        // -webkit-transform: matrix( 0.54901960784314,0,0,0.54545454545455,0,0);
        // -ms-transform: matrix( 0.54901960784314,0,0,0.54545454545455,0,0);
    }

    &--red {
        width: 288px;
        height: 93px;
        border-radius: 5px;
        background-color: rgb(235, 48, 77);
        font-family: $secondary-font;
        color: rgb(255, 255, 255);
        line-height: 1.2;
        font-size: 24px;
    }
}
