// (C) RootiCo

.hire-popup {
  @include bg-white;
  border-radius: 10px;
}

.Hire_Me {
  color: $article-title-color;
  font-size: 34px;
  font-family: "Myriad Pro";
  line-height: 1.96;
  text-align: center;

  padding-top: 15px;
  padding-bottom: 15px;
}

.hire-popup__input {
  padding-left: 15px;
  margin-bottom: 16px;
  border-radius: 10px;
  width: 100%;
  height: 50px;
}

#textarea {
  padding-top: 10px;
  resize: none;
  width: 100%;
  height: 200px;
  border-radius: 10px;
  padding-left: 15px;
}

.global_hire-popup-off {
  display: none;
}

.visible {
  display: block;
}
